
@import "variables";

///////////////////////////////////////////////////////////////////////effect start write

@import "effects";




///////////////////////////////////////////////////////////////////////effect end
//header

@media screen and (min-width:1150px){
    #menu-item-9{
        margin-right: 250px !important;
    }

    .site-logo{


        .woodmart-logo-wrap{

        }
        //position: relative !important;
        //left: 50% !important;
        //height: 190px !important;
            //width: 238px !important;
        img{
            height: 190px !important;
            width: 238px !important;
            max-height: 190px !important;
            position: relative !important;
            top: 50px !important;

            transition: 0.3s !important;
             &:hover{
               transform: scale(1.1) !important;
                        transition: 0.3s !important;
            }
        }

        .woodmart-sticky-logo{
            position: relative !important;
            top: -30px !important;
             height: 0px !important;
            height: 190px !important;
            width: 238px !important;

            //max-height: 150px !important;
        }



    }
}

.header-sticky-real{
    //margin-top: 20px !important;
}

  #menu-navbar{
         //padding-left: 20% !important;   
    }



    .act-scroll{
     //margin-top: 0px !important;
}



.header-split .main-nav .menu {
    margin: 0 !important;
}

.woodmart-nav-link{
//font-size: 20px !important;
    color: @blue !important;
    &:hover{
        color: @green !important;
    }
    &:active{
        color: @green !important;
    }
    
}

.search-button .search-button-icon{
    display: none;
}

.document-ready .menu-label{
    opacity: 0 !important;
}




//header/

.main-page-wrapper {
    padding-top: 0 !important;
}


.container{
    //margin: 0 !important;
    //padding: 0 !important;
    max-width: 1800px !important;
    width: 100% !important;
}
.page-title{
    margin-bottom: 0px !important;
}



//#shiny-template{ //CUSTOM STYLE LAYER



 .just-center{
        text-align: justify ;
        text-align-last: center ;
}

.des-hid{
    display: none !important;
}

.shadow{
    text-shadow: 2px 2px 8px #000000;
}

ul{
        //margin-bottom: 55px;
    }
    
    li::before {
          content: "• ";
          font-weight: 400; 
          font-size: @txt;
          color: white;
    }
    li{
            //text-indent: -15px;
        font-family: 'DIN';
        font-weight: 400;
        margin-bottom: 20px;
    }

.fcentered{
      display: flex;
      justify-content: center;
      align-items: center;
        flex-direction: column;
}

.center{
    text-align: center;
}


a{
    transition: 0.4s;
    &:hover{
        //color: @orange;
    }
}


.flex {
    display: flex;
    flex-wrap: wrap;

    &.center-h {
        justify-content: center;
        text-align: center;
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    .col {
        width: 50%;    
        padding: 0px;
        box-sizing: border-box;
        flex-direction: column;
        &.align-self-center {
            align-self: center;
        }
        &.align-self-end {
            align-self: flex-end;
        }
    }
}

.btn{
    text-transform: none !important;
    background-color: @green;
    color: white;
    font-weight: 100;
    font-size: @btntxt;
    padding: 38px 60px;
    border-radius: 8px;
     font-family: 'Amigos';
    &:hover{
        color: aliceblue;
        background-color: @navy;

        box-shadow: 5px 3px 5px rgba(0,0,0,0.5) !important;
    
    }
}


// colors --------------
.white{
    color: white;
    font-weight: 100;
}

.black{
    color: black;
}

.green{
    color: @green;
    font-weight: 400;
}

.navy{
    color: @navy;
}

.blue{
    color: @blue !important;
}
     
.yellow{
    color: @yellow !important;
}



// ---------------------
//sizes



.mid{
    font-size: @mid;
}




p, li{
    font-size: @txt;
            color: black;
    font-family: 'DIN';
    font-weight: 600;
    
    b{

        font-weight: 900;
    }
}

.contain{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

h2, h1{
    font-size: @bigp; 
    font-family: 'DIN';
}

.friend{
    font-family: 'Amigos';
    font-weight: 100;
}

    
    //HOME//

#primera{
    background: url(../img/home/back-lunchLap.jpg) center no-repeat;
    min-height: 960px;
    
    position: relative;
    z-index: 0; 
    
    .contain{
        min-height: 960px;
    }
    
    .center{
        width: 75%;
    }
    
    .friend{
        font-size: 100px;
    }
}

#asesoria{
    position: relative;
    bottom: 210px;
    margin-bottom: -210px;
    background-color: transparent;
    background: url(../img/home/abs-mantra.png) center no-repeat;
    background-position: right -300px top;
 

    
    .center{
        padding: 20% 18% 10% 18%;
    }
    
    h1{
        font-size: @bigp;
        .navy{
            font-size: @mid;
        }
        .normal{
            font-size: @big;
            font-family: "DIN";
            font-weight: 600;
        }
    }
    
    h2{
        font-weight: 600 !important;
    }
    
    .green{
        font-size: @mid;
    }
    
    p{

        font-size: @txtp;
    }
}

.txtp{
    font-size: @txtp;
    line-height: 111%;
}

#beneficios{
    background: url(../img/home/back-green-mantra.jpg) center no-repeat;
    padding-bottom: 10px;
    #kiwi{
        position: relative;
        @kiwipos: 120px;
        bottom: @kiwipos;
        margin-bottom: @kiwipos;
        
    }
    #kiwi2{
        margin-bottom: 50px;
    }
    
  
    
    p, li{
        color: white;
    }
    
    .yellow{
        font-size: 36px;
    }
    
    .big{
        width: 60%;
        padding-left: 40px;
        padding-top: 9%;
        padding-right: 20px;
    }
    
    .small{
        
        width: 40%;
          h2{
            font-size: 75px;
              margin-bottom: -25px;
            }
        p{
            font-size: 36px;
        }
    }
}

#testimonios{
    
    padding-top: 60px;
    
    img{
        transition: 0.3s;
        margin-bottom: 15px;
         &:hover{
               transform: scale(1.1);
                    transition: 0.3s;
        }
    }
    
    h2{
       font-size: @bigp !important;
    }
    
    background-color: @gray;
    
    .friend{
        font-size: @mid;
    }
    .normal{
        font-size: 36px;
    }
    p{
        margin: 0 26% 40px;
        font-size: 19px;
        text-align: justify;
        text-align-last: center;
    }
}

#faq{
    margin-top: 100px;
    .bluebox{
        
        h4{
            padding-right: 60px;
            &:first-letter {text-transform:uppercase;}
            text-transform:lowercase;
                
                .mayus{
                    &:first-letter {text-transform:uppercase !important;}
                }
        }
        
        p, a{
            color: black;
            font-size: 20px;
            padding-bottom: 20px;
            span.orange:hover{
                color: darkorange;
            }
        }
        a:hover{
            color: @blue;
        }
        background-color: transparent;
        height: auto;
        width: 100%;
        
        padding: 0px;
        margin-bottom: 0px;
        
        
        .pf{
            padding: 10px 10px 80px 10px;
        }
        #w-addon{
            position: relative;
            width: 31%;
            top: 25px;
            
        }
        
    }
}

#precio{
    padding-bottom: 100px;
    background: url(../img/home/back-saladFork.jpg) center no-repeat;
    h2, green{
        font-size: @big;
        margin-bottom: 0px;
    }
    
    #usd{
        font-size: @big;
        margin-bottom: 0px;
    }
    
    p{
        line-height: 110%;
        font-size: @txtp;
        margin-bottom: 0px;
    }
    
    .mini{
        flex-direction: row;
        margin-bottom: 30px;
        .col{
            padding: 0 10px;
            
               img{
                    transition: 0.3s;
                     &:hover{
                           transform: scale(1.1);
                                transition: 0.3s;
                    }
                }
        }
    }
    
    .padtop{
        margin-top: 200px;
        margin-bottom: 40px;
    }
    
    .cuartil{
       
        img{
            margin-bottom: 30px;
            height: 121px;
             transition: 0.3s;
                     &:hover{
                           transform: scale(1.1);
                                transition: 0.3s;
                    }
        }
        .col{
             padding: 20px;
            width: 25%;
            
            .txt-mini{
                font-size: @txt;
            }
            .p{
                    line-height: 110%;
            }
        }
    }
}

#aboutme{
    
    background: url(../img/home/back-girl-mantra.png) left -300px center no-repeat;
    min-height: 1200px;
    
    .just-center{
        text-align: justify;
        text-align-last: center;
        min-height: 1200px;
    }
}

#contacto{
    background-color: @blue;
    background: url(../img/home/back-contacto.jpg) left -300px center;

    height: 1070px;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 40px;
    
    //HABITOS FACILES 
    
    
    
    .col{
        
        //padding: 0 20px;
    }
    
    #mapa{
        
        a{
            transition: all 0.3s ease-in-out;
            &:hover{
                text-shadow: 2px 2px 8px @navy;
                transition: all 0.3s ease-in-out;
            }
        }
        
        img{
            width: 72px;
            height: 72px;
            

        }
        
        p{
            font-size: @txtp;
        }
        
        #double{
            .icon{
                    width: 25%;
                #phone{
                    margin-right: 20px;
                }
                
                img{
                        position: relative;
                        right: 64%;
                        margin-right: -64%;
                }
                
            }
        
            .flex, .col{
                min-width: 72px;
            }
        }
        
        .phone{
            position: relative;
            right: 10%;
                font-size: @mid;
         
        }
    }
    
    .bot{
        height: 300px;
          position: relative;
         #social{
           position:absolute;
            bottom:5%;
            right:8%;
             
             .flex{
                 
                 .col{
                     width: 20%;
                     padding: 0 5px;
                     img{
                         transition: 0.3s;
                          &:hover{
                            transform: scale(1.2);
                              transition: 0.3s;
                         }
                     }
                 }
                 .txt{
                     width: 60%;
                     padding: 0;
                     p{
                         font-size: 40px;
                     }
                 }
             }
        }
    }
   
    
    //El resto es copia de otra sección de contacto.
    
    #responsable{
        //width: 70%;
        //border: solid white 3px;
        //border-radius: 8px;
        padding: 10px 3px 8px 15px;
        margin-top: 15%;
        
        p{
              //font-size: 20px;
        font-weight: 600;
            margin-bottom: 0px;
        }
      
        flex-direction: column;
        text-align: left;
    }
    
    
    
    .c-col{
        padding-left: 40px;
        padding-right: 120px;
        
        .flex{
            padding-top: 30px;
                padding-bottom: 20px;
        }
        
            
    }
    
    a{
        text-decoration: none;
        &:hover{
            color: @green;
        }
        
        p{
            transition: 0.3s;
        }
        
        p:hover{
            color: @green;
        }
    }
    
    .btn-green{
        &:hover{
            color: @yellow;
            background-color: #45706b;
        }
    }
    
    .pad-top{
        padding-top: 25px;
    }
    
    h2, p {
        color: white;
    }
    
    
    
    
    h2{
        font-size: 62px;
        line-height: 150%;
        font-style: normal;
    }
    
    .uptown{
        font-size: 100px;
    }
    
    
    
    .icon{
        width: 20%;
        img{
        //width: 180px;
        }
    }
    
    #followus{
            #siguenos{
                width: 36%;
            p{
                font-size: 32px !important;
            }
        }
        .icon{
            width: 17%;
        }
        
        img{
        &:hover{
            transform: scale(1.2);
            transition: 0.3s;
        }
    }
        
    }
    
    

    
    .icons-bot{
        margin-bottom: 25px;
    }
    
    .mar-bot{
        margin-bottom: 60px;
    }
    
    .pad-left{
        padding-left: 22px;
    }
    
    #mapa{
        p{
            //font-size: 18px;
            &.phone{
                padding-top: 6%;
                //font-size: 22px;
            }
        }
        padding-top: 180px;

    }
    
    .big{
        //font-size: 24px;
        font-weight: 900;
    }
    
    .col{
        #cform{
            
            #caldera_form_1{
            
            //#fld_2494155_1{
            select{       
                        border-width: 3px !important;
                        border-color: white !important;
                        border-radius: 12px;
                        background: white !important;
                        color: black !important;
                        font-family: "DIN" !important;
                        padding: 8px;
                        font-size: 20px;
                        height: 60px;
                        text-transform: uppercase !important;
                    font-weight: 600 !important;
                    height: 1%;
                
                option{
                    color: black;
                    font-size: 18px;
                }
                
                margin-bottom: 0px;
                margin-top: 20px;
            }
            
             .caldera-grid .form-control::-webkit-input-placeholder {
            color: black !important;
                    font-weight: 600;
            }
            
             .row ,.single{
                .col-sm-12{
                    
                
                    .form-control{
                        border-width: 3px !important;
                        border-color: white !important;
                        border-radius: 8px;
                        background: white !important;
                        color: black !important;
                        font-family: "DIN" !important;
                        padding: 23px;
                        font-size: 20px;
                        font-weight: 600 !important;
                        
                        &::-webkit-input-placeholder {
                            color: black !important;
                        }
              

                    }
                }
            }
            
        }
        }
    }
    
    

    
    
    
    .caldera-grid .checkbox label, .caldera-grid .radio label {
         color: black !important;
        font-family: "DIN" !important;
        font-size: 20px;
    }
    
    //checkbox
    .fld_2494155_1, .fld_5824425_1{
            height: 20px;
            width: 90px;
            margin-top: 10px;
    }
    
    //button
     #fld_5573142_1-wrap, #fld_2388358_1-wrap{
        float: right;
        #fld_5573142_1, #fld_2388358_1, .btn-form-class{
                background: @green !important;
                padding: 10px 60px;
                border-radius: 8px;
                color: white;
                font-weight: 100 !important;
                font-size: 58px;
                font-family: 'Amigos';
                text-decoration: none !important;
                transition: 0.3s;
                text-transform: capitalize !important;
            &:hover{
                color: aliceblue;
                background: @navy !important;
                box-shadow: 5px 3px 5px rgba(0,0,0,0.5);
            }
        }
    }
    
    .caldera-grid input[type=submit]{
        background-color: @green !important;
    }
    input[type="submit"]:not([name="update_cart"]){
        background-color: @green !important;
    }
    
}

//ABOUT///////////////////////--------------------------------->

#hola{
    background: url(../img/about/back-primera.jpg) bottom no-repeat;
    height: 1802px;
    .contain{
        height: 1802px;
    }
    
    .fcentered{
        width: 700px;
        padding-top: 100px;
        
    }
    background-size: cover;
    
    h1{
        font-size: 130px !important;
        margin-bottom: 610px;
    }
    h2{
        font-size: @mid;
    }
}
#story{
    #yoga{
        background: url(../img/about/back-girl-yoga.png) center no-repeat;
        background-size: cover;
    }
    .contain{
        padding: 0px;
        margin: 0;
        //max-width: 100%;
    }
    @h: 604px;

    background-size: cover;
    height: @h;
    .flex{
      height: @h;
        .col{
      height: @h;
        }
    }
    background-color: @green;
    p{
        font-size: 19px;
        color: white;
        font-weight: 100;
        text-align: justify;
        text-align-last: left;
    }
    .txt{
        padding: 5% 3%;
    }
    
    
}
#cv{
    padding-top: 40px;

            img{
                margin-bottom: 40px;
                         transition: 0.3s;
                          &:hover{
                            transform: scale(1.2);
                              transition: 0.3s;
                         }
                     }
    .w{
        width: 66%;
    }
    
    .green{
        font-size: @mid;
    }
}




@import "responsive";

//} 