@green: #83ba07;
@blue: #2893c2;
@navy: #0c4761;
@yellow: #ffea03;
@gray: #f6f4f4;



@txt: 24px;
@txtp: 30px;
@big: 60px;
@mid: 48px;
@bigp: 72px;
@btntxt: 58px;

@font-face {
    font-family: 'DIN';
    src: url('font/DIN-RegularAlternate.woff2') format('woff2'),
        url('font/DIN-RegularAlternate.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Amigos';
    src: url('font/Lobster14.woff2') format('woff2'),
        url('font/Lobster14.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



